body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f4f4f9;
  align-items: center;
  display:flex;
  justify-content: center;
  height: 100vh;
  font-family: Arial;
}

.container{
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin: 10px 0;
}

b p {
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    width: 100%; 
    max-width: none; 
    height: 100%; 
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}